Repository ChilkGames/RPG-Luces, pull requests merged in 2020-01, with the labels that each got.

#2 Test merge request
  Test/Bobo el que lee/Pensabas que era gamedesign.txt
Labels: bug, documentation, duplicate, help wanted

#4 7B
  Test/testBranch.TXT
Labels: Art

#10 Scripts folder
  Test/Test Prog.txt
Labels: Programming

#14 Theme & Pilars
  Game Design/Pilares.docx
  Test/Pensabas que era gamedesign.txt
  Test/Test Prog.txt
  Test/TestJabon.TXT
  Test/testBranch.TXT
Labels: Design, Documentation

#19 Merge Design
  Game Design/Ideas mecanicas-dinamicas.docx
Labels: Design

#21 Definición del RPG #1
  Game Design/Topics RPG/1. Narrativa, Tensión y Secciones.docx
Labels: Design, Documentation, Investigation

#23 Agrego links a referencias y a videos de programacion orientada a RPGS
  Programacion/RPG Programming Reference Doc 1.url
  Programacion/RPG Programming Reference Unity Videos.url
Labels: Programming

#22 Definición del RPG #1
  Game Design/Topics RPG/1. Narrativa, Tensión y Secciones.docx
  Game Design/Topics RPG/2. Sistema de combate (bases).docx
Labels: Design, Documentation, Investigation

#24 Definición del RPG #3
  Game Design/Topics RPG/2. Sistema de combate (bases).docx
Labels: Design, Documentation, Investigation

#27 Turnos documento
  Game Design/Fotos rpg FF/Combate.png
  Game Design/Fotos rpg FF/Debilidades.png
  Game Design/Fotos rpg FF/Enemy turn.png
  Game Design/Fotos rpg FF/Menu habilidades.png
  Game Design/Fotos rpg FF/Queue.png
  Game Design/Fotos rpg FF/Turns.psd
  Game Design/Fotos rpg FF/inicia el combate.png
  Game Design/Fotos rpg FF/orden turnos.png
  Game Design/Fotos rpg FF/queue habilidad combinada.png
  Game Design/Turnos.docx
Labels: Design, Documentation

#28 Agrego otro sist de combate y ordeno carpetas
  Game Design/Información/Ideas mecanicas-dinamicas.docx
  Game Design/Información/Pilares.docx
  Game Design/Sistemas de combate/Fotos rpg FF/Combate.png
  Game Design/Sistemas de combate/Fotos rpg FF/Debilidades.png
  Game Design/Sistemas de combate/Fotos rpg FF/Enemy turn.png
  Game Design/Sistemas de combate/Fotos rpg FF/Menu habilidades.png
  Game Design/Sistemas de combate/Fotos rpg FF/Queue.png
  Game Design/Sistemas de combate/Fotos rpg FF/Turnos.docx
  Game Design/Sistemas de combate/Fotos rpg FF/Turns.psd
  Game Design/Sistemas de combate/Fotos rpg FF/inicia el combate.png
  Game Design/Sistemas de combate/Fotos rpg FF/orden turnos.png
  Game Design/Sistemas de combate/Fotos rpg FF/queue habilidad combinada.png
  Game Design/Sistemas de combate/Sist. mezcla de colores/Sistema de combate.docx
Labels: Design, Documentation

#29 Sistema: Colores
  Game Design/Sistemas de combate/Sist. mezcla de colores/Sistema de combate.docx
Labels: Design, Documentation

#30 Sistema de Ab.Gauge
  Game Design/Sistemas de combate/Ability Gauge System (old).docx
  Game Design/Sistemas de combate/Ability Gauge System.docx
  Game Design/Sistemas de combate/Color System.docx
Labels: Design, Documentation

#33 Base de Diseño
  Art/Diseño y referencias.docx
  Art/~$ferenciasAmbientacion.DOCX
Labels: Art
